<p>Añadir comentario: </p>

<form method="post" action="/quizes/<%= quizid %>/comments/">
    <input id="comment" type="text" name="comment[texto]" value="">
    <input type="submit" value="Enviar"/>
</form>