<h2>Autor</h2>
<table>
    <tr>
        <td class="label">Nombre :</td><td>Luis Felipe Jimenez</td>
    </tr>
    <tr>
        <td class="label">Avatar :</td><td><img src="/images/avatar.png"></td>
    </tr>
</table>
<br>