<form method="get" action="/quizes" autocomplete="off">
    <label>Buscar :</label><input name="search" type="search"><input type="submit" value="Buscar">
</form>
<table>
    <% var i; for (i=0; i<quizes.length; i++) {%>
        <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
    <a href="/quizes/new"><button>Crear pregunta</button></a>
</table>